@import "config";

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $titlecolor;
  font-weight: 600;
}

.navbar {
  padding: 0;
}

.header {
  padding: 1rem 0;
}

.section {
  padding: 1.25rem 0;
}

.slider-bg {
  height: 560px;
  padding-top: 100px;
  background-size: cover;
  background-position: center;
  &__1 {
    background-image: url(../images/dest/1.jpg);
  }
  &__2 {
    background-image: url(../images/dest/2.jpg);
  }
  &__3 {
    background-image: url(../images/dest/3.jpg);
  }
}

.main-slider {
  &-title {
    color: $white;
  }
  &-descr {
    color: $white;
    font-size: 1.25rem;
  }
  &-subTitle {
    color: $white;
    opacity: 0.5;
    font-size: 0.85rem;
  }
}

.btn-outline-secondary {
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: $white;
  &:hover {
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.3);
  }
}

.slick-dots {
  bottom: 25px;
  li button:before {
    color: $white;
    opacity: 1;
    font-size: 8px;
  }
  .slick-dots li.slick-active button:before {
    opacity: 1;
  }
}
